original/
original.tmp/
code/*/__pycache__/
*/logs/*
results/
scratch
*.zip
ref
*/gear-env/*
*/.DS_Store
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.pyc
.DS_Store
*.DS_Store
*/.ipynb_checkpoints/*
*/env
code/*/*.png
*/plotters/encoder_plots/
*/plotters/torque_plots/
*/plotters/accel_plots/
